fastapi==0.110.0
uvicorn[standard]==0.29.0
websockets==12.0
sqlalchemy==2.0.29
passlib[bcrypt]==1.7.4
requests==2.31.0
beautifulsoup4==4.12.3
python-multipart==0.0.9
python-jose==3.3.0
openai==1.14.3
faiss-cpu==1.8.0
html2text==2024.2.26
langchain==0.1.16
sentence-transformers==2.6.1


# pandas
# openai
# # streamlit
# faiss-cpu
# beautifulsoup4
# sentencepiece
# sentence-transformers
# python-dotenv
# langchain
# requests
# streamlit-chat
# html2text
# pinecone-client